<app-header></app-header>
<div class="pt-5 pb-4 aaa2">
  <div class="container">
    <div class="row">
      <div class="col-12 pt-5 text-center">
        <h2>Scan QR For Payment</h2>
        <p>BASIC REGISTRATION FEE: ₹200/- (which includes cultivo complimentary)</p>


        <img
          src="assets/images/sanjay_qr.jpg"
          style="height: 300px; width: 300px; margin-bottom: 20px"
        />
        <p class="fw-bold">UPI ID: <span>9347920482@paytm</span></p>
        <p>Complete your payment using scan or UPI id</p>
        <p class="fw-bold">Process:</p>
        <p>
          <span class="fw-bold">Mandatory:</span> Take a screenshot of the payment in a way that UTR number is visible and send it to the
          <span class="fw-bold">WhatsApp 7893522212</span>
        </p>
        <p class="fw-bold">Send Your Attachment In The Below Format:</p>
        <ul style="list-style-type: none">
          <li>Name:</li>
          <li>Email:</li>
          <li>Phone Number:</li>
          <li>Registration Purpose:</li>
        </ul>
        <p class="fw-bold">If You Have Any Queries Contact Us:</p>
        <p href="mailto:info@zeitgeistjntuk.com"><span class="fw-bold">Email:</span> info@zeitgeistjntuk.com</p>
        <p><span class="fw-bold">Phone Number:</span>7893522212</p>
      </div>
    </div>

  </div>
  <div class="container">
    <h3>Payment Instructions for registration:</h3>
    <ul>
      <li>Our Support Team will get into touch with you within 3hrs after completing the above mentioned payment process.</li>
      <li>Visit the accomodation page link available in the top nav bar for detailed information about food and accomodation.</li>
      <li>You are not able to make a payment for workshops/events if you are <span class="fw-bold">not registered for ZEITGEIST</span></li>

      <li>Read the instructions and details of the accomodation carefully.</li>
      <li>Once you are ready for the payment, click on the register button, which redirects to the page containing as above.</li>
      <li>Enter the required amount for the basic registration as specified above i.e(₹200/-) <span class="fw-bold">SUCCESSFUL REGISTRATION</span></li>
      <li>Take a screenshot of the successful payment, including the UTR number, and WhatsApp it to <span class="fw-bold">7893522212</span> along with the details, including your Name, Email, Phone Number, Registered purpose (Name, Email, Phone Number must be the match to details given during the fest registration).</li>

    </ul>
  </div>
</div>
<app-footer></app-footer>
