<app-header></app-header>
<div class="pt-5 mt-5 main-div">
  <h5 class="p-5">
    Well! It's time to showcase your creative talent… All you can get from
    social media is surreal as some exciting events are up. Grab the opportunity!
    Hurry up... Explore more... Win more...
  </h5>
  <div class="container">
    <div class="row shadow aa1 mb-5">
      <div class="col-12 col-md-5 p-5 order-md-2">
        <img src="assets/images/cultivo.jpeg" class="img1" loading="lazy" />
        <p class="pt-5" style="font-size: 20px; font-weight: 500;">Contact: B. Sanjay - 9347920482</p>
        <p class="pt-1" style="font-size: 20px; font-weight: 500;">Contact: M. Sri Kanya - 8688186557</p>
      </div>
      <div class="col-12 col-md-7 p-5 order-1">
        <h2 class="pb-3">Cultivo</h2>

         Cultivo is our cultural fest where folks get to chance on their favourite beats as individuals or in groups and relish the experiments. It also includes your talent in music and musical instruments and let your music rock the night


        <h3>Instructions:</h3>
        <ul>
          <li>
            <span class="fw-bold">Cultivo is complimentary for basic registration fee</span>
          </li>
          <li class="fw-bold">Cultivo participation fee is separate and will be communicated by the mentioned coordinators</li>
          <li>Auditions will be conducted once the participants are on the campus</li>

        </ul>
        <p>
          <span class="fw-bold">NOTE:</span>You can get more info from our
          official Instagram handle:
          <a
            href="https://instagram.com/zeitgeist_23?igshid=YmMyMTA2M2Y="
            class="me-4 text-reset"
          >
            <i class="fa fa-instagram fa-lg fa-solid"> zeitgeist_23</i>
          </a>
        </p>
      </div>
    </div>
    <div class="row shadow aa1 mb-5">
      <div class="col-12 col-md-5 p-5">
        <img src="assets/images/selfie2.jpg" class="img1" loading="lazy" />
        <p class="pt-5" style="font-size: 20px; font-weight: 500;">Contact: Y. Aravind Kumar - 8688482009</p>
        <p class="pt-1" style="font-size: 20px; font-weight: 500;">Contact: P. Jahnavi</p>
      </div>
      <div class="col-12 col-md-7 p-5">
        <h2 class="pb-3">Selfie Clicks</h2>
        <h4 style="color: red;">EVENT ALREADY STARTED...</h4>
        <p>
          Had this habit of posing for selfies, but ever thought you can win something by sharing those selfies? Yeah! you read it right. Now, what are you waiting for?Upload your selfies... Win prizes...
        </p>
        <h3>Instructions:</h3>
        <ul style="margin: 1px;">
          <li style="font-size: 17px;">
            Upload your selfies to the Google Form Link
            <a href="https://docs.google.com/forms/d/1jaVwtfJW9R9ulafavFUMjdnsNuaApZLOlPzyC-VbsbA/edit#settings"><span class="fw-bold">UPLOAD HERE</span></a>

          </li>
          <li>
            <span class="fw-bold">INSTRUCTIONS</span>
            <ol>
              <li>Fill the Google Form with Appropriate Details.</li>
              <li>Photo Format: jpg,png,jpeg,img(with high resolution).</li>
              <li class="fw-bold">
                Winner will be decided based on the post with highest likes.
              </li>
            </ol>
          </li>
        </ul>
        <p>
          <span class="fw-bold">NOTE:</span>You can view your uploads in our
          official Instagram handle:
          <a
            href="https://instagram.com/zeitgeist_23?igshid=YmMyMTA2M2Y="
            class="me-4 text-reset"
          >
            <i class="fa fa-instagram fa-lg fa-solid"> zeitgeist_23</i>
          </a>
        </p>

        <h3>Prizes:</h3>
        <ul>
          <li class="fw-bold">
            Winners will be awarded with FREE WORKSHOP WORTH OF ₹1500/-
          </li>
        </ul>
      </div>
    </div>
    <div class="row shadow aa1 mb-5">
      <div class="col-12 col-md-5 p-5 order-md-2">
        <img src="assets/images/selfie.jpg" class="img1" loading="lazy" />
        <p class="pt-5" style="font-size: 20px; font-weight: 500;">Contact: Y. Aravind Kumar - 8688482009</p>
        <p class="pt-1" style="font-size: 20px; font-weight: 500;">Contact: D. Keerthana - 9390327170</p>
      </div>
      <div class="col-12 col-md-7 p-5 order-1">
        <h2 class="pb-3">Capture It Contest</h2>
        <p>
          We have been the cameraman for all the events in our family or for any
          spectacular views. Bring it on and upload the best content from your
          campus clicked by you.
        </p>

        <h3>Instructions:</h3>
        <ul>
          <li>
            Upload your Photographs to the mail
            <span class="fw-bold">zeitgeistcontest@gmail.com</span>
          </li>
          <li>
            <span class="fw-bold">MAIL FORMAT</span>
            <ol>
              <li>Name</li>
              <li>College Name</li>
              <li>Phone Number</li>
              <li>Caption</li>
              <li>Photo Format: jpg,png,jpeg,img(with high resolution)</li>
              <li class="fw-bold">
                Winner will be decided based on the post with highest likes
              </li>
            </ol>
          </li>
        </ul>
        <p>
          <span class="fw-bold">NOTE:</span>You can view your uploads in our
          official Instagram handle:
          <a
            href="https://instagram.com/zeitgeist_23?igshid=YmMyMTA2M2Y="
            class="me-4 text-reset"
          >
            <i class="fa fa-instagram fa-lg fa-solid"> zeitgeist_23</i>
          </a>
        </p>

        <h3>Prizes:</h3>
        <ul>
          <li class="fw-bold">
            Winners will be awarded with FREE WORKSHOP WORTH OF ₹1500/-
          </li>
        </ul>
      </div>
    </div>
    <div class="row shadow aa1 mb-5">
      <div class="col-12 col-md-5 p-5">
        <img src="assets/images/InShot_20230304_185529283.jpg" class="img1" loading="lazy" />
        <p class="pt-5" style="font-size: 20px; font-weight: 500;">Contact: J. Balakrishna - 7286924380</p>
      </div>
      <div class="col-12 col-md-7 p-5">
        <h2 class="pb-3">Meme contest</h2>
        <p>
          Almost everyone has Instagram accounts it's a never-ending scroll that
          we perform. Now stop enjoying the memes you scroll and start creating
          one and upload to be in the race to get declared as “Best Meme”.
        </p>

        <h3>Instructions:</h3>
        <ul>
          <li>
            First follow the our
            <a
              href="https://instagram.com/zeitgeist.memes_?igshid=ZDdkNTZiNTM="
              class="me-4 text-reset"
            >
              <i class="fa fa-instagram fa-lg fa-solid"> zeitgeist_23</i></a
            >
          </li>
          <li>
            Upload your memes to the mail
            <span class="fw-bold">zeitgeistcontest@gmail.com</span>
          </li>
          <li>
            <span class="fw-bold">MAIL FORMAT</span>
            <ol>
              <li>Name</li>
              <li>College Name</li>
              <li>Phone Number</li>

              <li>Photo Format: jpg,png,jpeg,img(with high resolution)</li>
              <li class="fw-bold">
                Winner will be decided based on the post with highest likes
              </li>
            </ol>
          </li>
        </ul>
        <p>
          <span class="fw-bold">NOTE:</span>You can view your uploads in our
          official Instagram handle:
          <a
            href="https://instagram.com/zeitgeist.memes_?igshid=ZDdkNTZiNTM="
            class="me-4 text-reset"
          >
            <i class="fa fa-instagram fa-lg fa-solid"> zeitgeist_23</i>
          </a>
        </p>

        <h3>Prizes:</h3>
        <ul>
          <li class="fw-bold">
            Winners will be awarded with FREE WORKSHOP WORTH OF ₹1500/-
          </li>
        </ul>
      </div>
    </div>
    <div class="row shadow aa1 mb-5">
      <div class="col-12 col-md-5 p-5 order-md-2">
        <img src="assets/images/reels.jpg" class="img1" loading="lazy" />
        <p class="pt-5" style="font-size: 20px; font-weight: 500;">Contact: Y. Aravind Kumar - 8688482009</p>
      </div>
      <div class="col-12 col-md-7 p-5 order-1">
        <h2 class="pb-3">Reels contest</h2>
        <p>
          Reels contest is live now - Everyone has some hidden talent and we
          don't usually get a chance to showcase that to larger groups. The time
          has come all you need to do is make reels by being there in the reel
          and post them. Prize:
        </p>
        <h3>Instructions:</h3>
        <ul>
          <li>
            Upload your reels to the mail
            <span class="fw-bold">zeitgeistcontest@gmail.com</span>
          </li>
          <li>
            <span class="fw-bold">MAIL FORMAT</span>
            <ol>
              <li>Name</li>
              <li>College Name</li>
              <li>Phone Number</li>

              <li>Photo Format: mp(with high resolution)</li>
              <li class="fw-bold">
                Winner will be decided based on the post with highest likes
              </li>
            </ol>
          </li>
        </ul>
        <p>
          <span class="fw-bold">NOTE:</span>You can view your uploads in our
          official Instagram handle:
          <a
            href="https://instagram.com/zeitgeist_23?igshid=YmMyMTA2M2Y="
            class="me-4 text-reset"
          >
            <i class="fa fa-instagram fa-lg fa-solid"> zeitgeist_23</i>
          </a>
        </p>

        <h3>Prizes:</h3>
        <ul>
          <li class="fw-bold">
            Winners will be awarded with FREE WORKSHOP WORTH OF ₹1500/-
          </li>
        </ul>
      </div>
    </div><div class="row shadow aa1 mb-5">
      <div class="col-12 col-md-5 p-5">
        <img
          src="assets/images/Free-Fire-OB29-update-rewards.webp"
          class="img1"
          loading="lazy"
        />
        <p class="pt-5" style="font-size: 20px; font-weight: 500;">Contact: A. Vamsi Krishna - 9390160457</p>
        <p class="pt-1" style="font-size: 20px; font-weight: 500;">Contact: D. Bhanu - 9381150757</p>
      </div>
      <div class="col-12 col-md-7 p-5">
        <h2 class="pb-3">Free Fire Contest</h2>
        <p>
          Welcome to the Free Fire tournament hosted by zeitgeist_23. Come and
          show your skills to win exciting prize money.
        </p>
        <h4>MODES:</h4>
        <ul>
          <li>
            Battle Royale:
            <ol>
              <li>Squad - ENTRY FEE: ₹200/-</li>
              <li>Solo - ENTRY FEE: ₹100/-</li>
            </ol>
          </li>
          <li>Clash Squad - ENTRY FEE: ₹200/-</li>
        </ul>
        <h3>Instructions:</h3>
        <ul>
          <li>
            Please be respectful to your host and other participants. If any
            malicious behavior is reported, you will be removed from the
            tournament.
          </li>
          <li>
            Please be on time for your registration and for the actual
            tournament. You (and your team) will be disqualified on no-show.
          </li>
          <li>
            You and all of your teammates must be registered to qualify for
            the event.
          </li>
          <li>
            You can play in this tournament only if your registered and
            in-game names match, otherwise you will be disqualified.
          </li>
          <li>
            Pc players are not allowed and minimum level requirement is 40.
          </li>
        </ul>
        <p>
          <span class="fw-bold"
            >NOTE:
            <ul>
              <li>
                WhatsApp Link to participate in the event -
                <a
                  href="https://chat.whatsapp.com/BYjJpQkkJLl1SDgeCkv9B0"
                  class="me-4 text-reset"
                >
                  <i class="fa fa-whatsapp fa-solid">
                    FREEFIRE_Zeitgeist_23</i
                  >
                </a>
              </li>
              <br />
              <li>
                You can view the updates about the event on our Instagram
                Handle -
                <a
                  href="https://instagram.com/zeitgeist_23?igshid=YmMyMTA2M2Y="
                  class="me-4 text-reset"
                >
                  <i class="fa fa-instagram fa-solid"> zeitgeist_23</i>
                </a>
              </li>
            </ul></span
          >
        </p>

        <h3>Prizes:</h3>
        <ul>
          <li>Battle Royale Squad
            <ol>
              <li>
                First Prize: ₹1000/- (Booyah)
              </li>
              <li>Second Prize: ₹500/- (Second Place)</li>
            </ol>
          </li>
          <li>Battle Royale Solo
            <ol>
              <li>First Prize: ₹1000/- (Booyah)</li>
              <li>Second Prize: ₹500/- (Highest kills)</li>
            </ol>
          </li>
          <li>Clash squad Tournament (Knock out Matches) -- 8 teams per tournament
            <ol>
              <li>First Prize ₹1000/-</li>
            </ol>
          </li>
        </ul>
      </div>
    </div>

      <div class="row shadow aa1 mb-5">
        <div class="col-12 col-md-5 p-5 order-md-2">
          <img src="assets/images/bgmi.webp" class="img1" loading="lazy" />
          <p class="pt-5" style="font-size: 20px; font-weight: 500;">Contact: K. Surya - 9059168845</p>
        </div>
        <div class="col-12 col-md-7 p-5 order-1">
          <h2 class="pb-3">BGMI</h2>
          <p>
            ESports, or competitive video gaming, is a rapidly growing industry
            in India. Over the past few years, the country has seen a surge in
            the number of gamers and eSports enthusiasts, as well as an increase
            in the number of eSports tournaments and leagues being organized.
            The most popular esports titles in India include games like PUBG
            Mobile, Free Fire etc. Overall, the future of esports in India looks
            bright, with a growing number of players and fans, increased
            investment, and more opportunities for professional players to
            compete at the highest level.<br />
            <span class="fw-bold"
              >Be prepared with your squad to battle against each other this
              zeitgeist-2023</span
            >
          </p>

          <h3>Instructions:</h3>
          <ul>
            <li>Minimum level to participate in this event is 40</li>
            <li>
              Any illegal activities are not entertained, if any abnormality of
              a player is observed can be reported
            </li>

            <li>
              Teaming up is not allowed. Please be on time for the scheduled
              matches.
            </li>
            <li>
              All registered players will be informed prior 15 minutes of the
              match.
            </li>
          </ul>
          <p>
            <span class="fw-bold"
              >NOTE:
              <ul>
                <li>
                  WhatsApp Link to participate in the event -
                  <a
                    href="https://chat.whatsapp.com/IgCSkrvWj6j63Vbv4Prmqo"
                    class="me-4 text-reset"
                  >
                    <i class="fa fa-whatsapp fa-lg fa-solid">
                      BGMI_Zeitgeist_23</i
                    >
                  </a>
                </li>
                <br />
                <li>
                  You can view the updates about the event on our Instagram
                  Handle -
                  <a
                    href="https://instagram.com/zeitgeist_23?igshid=YmMyMTA2M2Y="
                    class="me-4 text-reset"
                  >
                    <i class="fa fa-instagram fa-lg fa-solid"> zeitgeist_23</i>
                  </a>
                </li>
              </ul></span
            >
          </p>

          <h3>Prizes:</h3>
          <ul>
            <li class="fw-bold">
              Exciting prizes will be awarded for the winners.
            </li>
          </ul>
        </div>
      </div>



  </div>
</div>

<app-footer></app-footer>
